
        
/* title animations */
.fade_in {
	opacity: 1;
	animation-name: fade_in_opacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
<<<<<<< Updated upstream
	animation-duration: .75s;
=======
	animation-duration: 0.75s;
>>>>>>> Stashed changes
}

video{
    object-fit: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute; /* this fixed the button problem */
}

@keyframes fade_in_opacity{
	0% {
				opacity: .25;
        transform: rotateY(90deg);
        filter: blur(10px);
	}
    
	100% {
		opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
	}
}
 
 
/* services flex item */
.flex_item:hover{
	animation-name: scale_to_screen;
	animation-duration: .2s;
	animation-fill-mode: forwards;
}
@keyframes scale_to_screen{
	from{}
	to{width: 30vw;
		height: auto;	
	}
}


/*contact us service area*/

    /*h3*/
@keyframes slide_in_from_right{
    from{
        left: 900px;
        opacity: 0.5;
    }
    to{
        left: 0;
        opacity: 1;
    }
}

.slide_in_right{
    
    animation: slide_in_from_right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

/*paragraph*/
@keyframes slide_in_from_left{
    
    from{
        left: -500px;
        opacity: 0.5;
    }
    to{
        left: 0;
        opacity: 1;
    }
    
}

.slide_in_left{
    animation: slide_in_from_left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



/*i need a repair section animations*/
@keyframes pop_in{
    
    from{
        
        right: -200px;
        opacity: 0.5;
        font-size: 2em;
        
    }
    to{
        
        right: 0;
        opacity: 1;
        font-size: 1em;
        
    }
    
}

.pop_in{
    
    animation-name: pop_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}








