
        /* title animations */
/* title animations */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .75s;
}

video{
    object-fit: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute; /* this fixed the button problem */
}

@keyframes fadeInOpacity {
	0% {
				opacity: .25;
        transform: rotateY(90deg);
        filter: blur(10px);
	}
    
	100% {
		opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
	}
}
 /* evaluate button animations */
/* button animations */
.hideMe1 {
  animation: hideMe 2s;
  animation-fill-mode: forwards;
}

@keyframes hideMe {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
        /* services animation */

@keyframes fadeMe{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
/* services flex item */
.flex_item:hover{
	animation-name: scale_to_screen;
	animation-duration: .2s;
	animation-fill-mode: forwards;
}
@keyframes scale_to_screen{
	from{}
	to{width: 30vw;
		height: auto;	
	}
}