/*-------Global Styles--------*/
/*Color Pallet and varibles*/
/*
red: rgba(359,0,3,1) #b50006
blue: rgba(0,52,120,1) #003478
grey-white: rgba(240,240,240,1) #f0f0f0
black
*/
:root {
	--main_bg: #f0f0f0;
	--text_color: black;
	--accent_color: #003478;
	--accent_color_rgba: rgba(0,52,120,.75);
	--alert_color: #b50006;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	margin: 0;
	background-color: var(--main_bg);
}
a{
	padding: .5rem;
	text-decoration: none;
}
nav{
	height: 5rem;
	position: fixed;
	color: var(--main_bg);
	background-color: var(--accent_color_rgba);
	width: 100vw;
	z-index: 2;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vw), 0% 100%);
}
nav ul {
	margin: 0;
	width: 80vw;
	display: inline;
}
nav li{
	display: inline;
	height: 3rem;
}
nav a {
	color: var(--main_bg);

}
nav .logo{
	width: 3rem;
	position: relative;
	top: 20%;
}
/*------custom display layout------*/
/*flexbox*/
.flexbox {
	display: flex;
}

.flex_item {}

/*grid*/
.grd_col_2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grd_item_1 {
	grid-column-start: 1;
	grid-column-end: 1;
}

.grd_item_2 {
	grid-column-start: 2;
	grid-column-end: 2;
}

/*----sections styles---*/
.hero_section {
	background-image: url("../images/factory.jpg");
	background-size: cover;
	background-position: center;
	color: var(--main_bg);
	min-height: 100vh;
	margin-bottom: -5vw;
}
.hero_content{
	text-align: center;
	margin: auto;
	width: 100%;
}
.hero_content h1 {
	width: 100%;
	position: absolute;
	top: 25vw;
	
}
.hero_content a{
	color: var(--main_bg);
	background-color: var(--alert_color);
	width: 25vw;
	position: relative;;
	top: 60vh;
}
.wide_skinny {
	background-color: var(--accent_color);
	color: var(--main_bg);
	clip-path: polygon(0% 0%, 100% 5vw, 100% calc(100% - 5vw), 0% 100%);
  shape-outside: polygon(0% 0%, 100% 5vw, 100% calc(100% - 5vw), 0% 100%);
	padding: 5vw 1rem 5vw 1rem;
}

.skinny_wide {
	background-color: var(--accent_color);
	color: var(--main_bg);
	clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 calc(100% - 5vw));
	shape-outside: polygon(0 5vw, 100% 0, 100% 100%, 0 calc(100% - 5vw));
	padding: 5vw 1rem 5vw 1rem;

}

.normal_content {}

/*--------page sections specifics-------*/
.services {
	min-height: 50vh;
	padding-left: 1rem;
	padding-right: 1rem;
}

.about {
	min-height: 50vh;
}

.time {
	min-height: 50vh;
	padding-left: 1rem;
	padding-right: 1rem;
}

.area {
	min-height: 50vh;
	padding-left: 1rem;
	padding-right: 1rem;
}
