/*-------Global Styles--------*/
/*Color Pallet and varibles*/
/*
red: rgba(359,0,3,1) #b50006
blue: rgba(0,52,120,1) #003478
grey-white: rgba(240,240,240,1) #f0f0f0
black
*/
:root {

    --text_color: #f0f0f0;
    --accent_color: #003478;
    --accent_color_rgba: rgba(0, 52, 120, .75);
    --accent_gradient: rgba(0, 52, 120, .5);
    --alert_color: #b50006;
    --alert_gradient: rgba(359, 0, 3, .5);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--text_color);
}
/*fixes animatios on mobile. due to meta tage device wisth = initail width mobile phone ignore oflow-x hidden on html and body tag*/
main {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
a {
    padding: .5rem;
    text-decoration: none;
    color: var(--text_color);
}
 h3{
    text-align: center;
}
p {
    line-height: 200%;
}

/*-----navigation*------*/
nav {
    height: 8vh;
    position: fixed;
    text-align: center;
    color: var(--text_color);
    background-color: var(--accent_color_rgba);
    width: 100%;
    z-index: 3;
    border-radius: 0 0 10px 10px;
}

nav ul {
    display: none;
}


/*-----mobile nav-----*/
.mobile_nav {
    background-color: var(--accent_color_rgba);
    margin: 0;
    width: 50vw;
    height: 88vh;
    position: fixed;
    bottom: 0;
    z-index: 5;
    transform: translatex(-100%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    clip-path: polygon(0% 0%, 100% 5vw, 100% calc(100% - 5vw), 0% 100%);
}

.mobile_nav .logo {
    height: 2rem;
    width: auto;
    padding: 0;
}

.mobile_nav ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
}

.mobile_nav a {
    display: block;
}

.mobile_nav_active {
    transform: translatex(0%);
    transition-duration: 1s;
}

.mobile_logo_active {
    min-width: 100vw;
    min-height: 100vh;
}

.mobile_nav_logo {
    padding: .5rem;
    height: 100%;
    z-index: 20;
}

.line {
    width: 35px;
    margin: 6px;
    min-height: 6px;
    background-color: var(--text_color);
    transform: skewX(-25deg);
}

/*-----hero content----*/
.hero_section {
    padding: 0;
    background-image: url("../mobile_images/factory_mobile.jpg");
    background-size: cover;
    background-position: center;
    color: var(--text_color);
    min-height: 100vh;
    border-radius: 0 0 10px 10px;
}

.hero_content {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    top: 25vh;
    line-height: 100%;
}



.hero_content h1 {
    padding: 0;
    margin: 0;
}
 .hero_content img {
     max-width: 100%;
     max-height: 150px;
     margin-bottom: 2rem;
 }
.hero_section span{
    display: block;
    font-weight: bold;
    margin: 1rem;
}
.hero_button{
    margin-bottom: 2rem !important;
}
/*-----sections styles-----*/
section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.color_section {
    padding: 1rem;
    min-height: 50vh;
}

.normal_content {
    padding-top: 1rem;
    color: black;
    min-height: 50vh;
}

/*--------page sections specifics-------*/
/*home page*/

.services ul {
	list-style: none;
	padding: 0;
    height: 100%;
    text-align: center;
}
.services li {
	cursor: pointer;
	padding: 1rem;
    font-weight: bold;
    margin: 1rem;
}
.services li span{
    border-bottom: 2px solid var(--accent_color);
}

.service_active{
	border-bottom: 3px solid var(--alert_color) !important;
}
.services p {
	margin: 3rem;
}
#contact_area {
    text-align: center;
    background-color: var(--accent_color);
    border-radius: 10px 0 0 10px;
    color: var(--text_color);
}
.area {
    padding-right: 0;
}
.area .grd_item_2{
    margin-top: 6rem;
}
.area p {
    margin: 3rem;
}
.contact_button {
    color: var(--text_color);
    background-color: var(--alert_color);
    border-radius: 5px 15px 5px 15px;
    box-shadow: 3px 3px 10px black;
    position: relative;

}


.about p {
    margin: 3rem;;
}
/*-----footer-----*/
footer {
    padding: 5vw 1rem 0 1rem;
	/*fixes animatios on mobile. due to meta tage device wisth = initail width mobile phone ignore oflow-x hidden on html and body tag*/
		overflow-x: hidden;
    color: var(--text_color);
    background-color: var(--accent_color);
    position: absolute;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style-type: none;
    text-align: left;
}

footer li {
    line-height: 150%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
}

footer a {
    color: var(--text_color);
}
footer img {
    max-height: 100px;
}
footer span {
    font-size: .75rem;
    color: grey;
    padding: 0;
    margin: 0;
}

footer span a {
    font-size: .75rem;
    color: grey;
}

footer i {
    color: var(--text_color);
    font-size: 3rem;
}
#footer_btn{
    position: static;
}
/*height for y axis spacing adjustment*/
@media only screen and (min-height: 300px) {

    .hero_content h1 {
        font-size: 1.75rem;
    }

    .hero_content {
        line-height: 200%;
    }

    .mobile_nav li {
        margin: .5rem;
    }
}
.hide_mobile {
    display: none;
}
.hide_desktop{
    display: inline;
}
/*tablets and phablets*/
@media only screen and (min-width: 550px) {
    .hide_mobile {
        display: inline;
    }
    .hide_desktop{
        display: none;
    }
    html {
        font-size: 18px;
    }

    .hero_content h1 {
        font-size: 1.75rem;
    }

}

/*width desktop*/
@media only screen and (min-width: 800px) {

    .hero_section {
        background-image: url(../images/factory.jpg);
    }


    html {
        font-size: 20px;
    }

    p {
        line-height: 225%;
    }

    .hero_content h1 {
        font-size: 2rem;
    }

    nav ul {
        margin: auto;
        padding: 0;
        width: 80vw;
        height: 8vh;
        display: block;
    }

    nav li {
        display: inline-block;
        height: 3rem;
        padding: .5rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /*hamburger for opening mobile nav*/
    .mobile_nav_logo {
        display: none;
    }

    .mobile_nav {
        display: none;
    }
    		/*------custom display layout------*/
            .grd_col_2 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 1rem 0 1rem 1rem;
            }
        
            .grd_item_1 {
                grid-column-start: 1;
                grid-column-end: 1;
            }
        
            .grd_item_2 {
                grid-column-start: 2;
                grid-column-end: 2;
                padding-left: 2rem;
            }
        
            grd_item_3 {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            .services li{
                display: inline;
                margin: 0;
            }
            .area .grd_item_2{
                margin: 0;
            }
}
