/*-------Global Styles--------*/
/*Color Pallet and varibles*/
/*
red: rgba(359,0,3,1) #b50006
blue: rgba(0,52,120,1) #003478
grey-white: rgba(240,240,240,1) #f0f0f0
black
*/
:root {
	--text_color: #f0f0f0;
	--accent_color: #003478;
	--accent_color_rgba: rgba(0,52,120,.75);
	--accent_gradient: rgba(0,52,120,.5);
	--alert_color: #b50006;
	--alert_gradient: rgba(359,0,3,.5);
}

html {
  box-sizing: border-box;
	font-size: 16px;
    overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	margin: 0;
	background-color: var(--text_color);
}
a{
	padding: .5rem;
	text-decoration: none;
}
p{
	line-height: 150%;
}
/*-----navigation*------*/
nav{
	height: 5rem;
	position: fixed;
	color: var(--text_color);
	background-color: var(--accent_color_rgba);
	width: 100vw;
	z-index: 2;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vw), 0% 100%);
}
nav ul {
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	width: 80vw;
	display: inline;
}
nav li{
	display: inline;
	height: 3rem;
	padding: .5rem;
}
nav a {
	color: var(--text_color);

}
nav .logo{
	width: 3rem;
	position: relative;
	top: 20%;
}
/*-----hero content----*/
.hero_section {
	padding: 0;
	background-image: linear-gradient(to bottom right, var(--alert_gradient), var(--accent_gradient)),url("../images/factory.jpg");
	background-size: cover;
	background-position: center;
	color: var(--text_color);
	min-height: 100vh;
}
.contact_hero_section{
	padding: 0;
	background-image: linear-gradient(to bottom right, var(--alert_gradient), var(--accent_gradient)),url("../images/old_phone.jpg");
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}
.hero_content{
	text-align: center;
	margin: auto;
	width: 100%;
}
.hero_content h1 {
	width: 100%;
	position: absolute;
	top: 25vh;
    font-size: 2.5em;
	
}
.hero_content a{
	width: 25vw;
	position: relative;
	top: 60vh;
}

/*-----sections styles-----*/
section{
	padding-left: 1rem;
	padding-right: 1rem;
}
.wide_skinny {
	background-color: var(--accent_color);
	color: var(--text_color);
	clip-path: polygon(0% 0%, 100% 5vw, 100% calc(100% - 5vw), 0% 100%);
  shape-outside: polygon(0% 0%, 100% 5vw, 100% calc(100% - 5vw), 0% 100%);
	padding: 5vw 1rem 5vw 1rem;
	margin-top: -5vw;
	margin-bottom: -5vw;
}

.skinny_wide {
	background-color: var(--accent_color);
	color: var(--text_color);
	clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 calc(100% - 5vw));
	shape-outside: polygon(0 5vw, 100% 0, 100% 100%, 0 calc(100% - 5vw));
	padding: 5vw 1rem 5vw 1rem;
  margin-top: -5vw;
	margin-bottom: -5vw;
}
.normal_content {
	padding-top: 5vw;
	padding-bottom: 5vw;
  color: var(--text_color);
}

/*------custom display layout------*/
/*flexbox*/
.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  padding-top: 2rem;
	padding-bottom: 2rem;
}

.flex_item {
	overflow: hidden; 
	height: 20vh;
	width: 15vw;
	color: var(--text_color);
	box-shadow: 0 0 10px black;
	border-radius: 5px 15px 5px 15px;
	text-align: center;
	background-color: var(--accent_color);
	background-image: linear-gradient(to bottom right, var(--alert_gradient), var(--accent_gradient));
	
	
}
/* flex item animation on hover in animate.css*/

/*------grid-------*/
.grd_col_2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
}

.grd_item_1 {
	grid-column-start: 1;
	grid-column-end: 1;
}

.grd_item_1 h3{
    position: relative;
}

.grd_item_1 p{
    position: relative;
}

.grd_item_2 {
	grid-column-start: 2;
	grid-column-end: 2;
	padding-left: 2rem;
    position: relative;
}
grd_item_3{
	grid-column-start: 1;
	grid-column-end: 2;
}


/*--------page sections specifics-------*/
/*home page*/
.about {
	min-height: 50vh;
}

.time {
	min-height: 50vh;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to bottom right, var(--alert_gradient), var(--accent_gradient)), url(../images/welding_repair.jpg);
}
	
.area {
	min-height: 50vh;
	background-image: url(../images/city.jpg);
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to bottom right, var(--alert_gradient), var(--accent_gradient)), url(../images/city.jpg);
		border-bottom: 1px solid var(--accent_color_rgba);
}

.contact_button{
		color: var(--text_color);
	background-color: var(--alert_color);
	border-radius: 5px 15px 5px 15px;
	box-shadow: 3px 3px 10px black;
}
/*contact page*/

.blank_space{
	height: 80vh;
}
.contact_call{
	color: var(--text_color);
	background-color: var(--accent_color);
	position: absolute;
	height: 10rem;
	top: 10rem;
	left: 10vw;
	width: 80vw;
	border-radius: 5px 15px 5px 15px;
	box-shadow: 0 0 10px black;
	text-align: center;
}
.contact_form{
	color: var(--text_color);
	background-color: var(--accent_color);
	position: absolute;
	top: 25rem;
	left: 10vw;
	width: 80vw;
	border-radius: 5px 15px 5px 15px;
	box-shadow: 0 0 10px black;
	text-align: center;
}
.contact_align{
	width: 50%;
	margin: auto;
	text-align: left;
}
.contact_align ul{
	list-style-type: none;
}
/*-----footer-----*/
footer{
	padding-top: 5vw;
	padding-bottom: 5vw;
	color: black;
}
